---
/**
 * @component HeroSection
 * @description This is the first section of the website that is displayed to the user. It has to take the user's attention.  *    
 * @prop {string} bg - The background image to be used in the section. Valid values for it are URLs of the image used.
 * @note As of now, relative paths must have "import.meta.env.BASE_URL" at the start of the path/URL.
 *        This is due to hosting sometimes being confused with URLs and paths. Refer to examples from 
 *        the pages files.      
 * @note The Hero Section is dark, however, it does not set anchor values (for Link and Button) to dark mode (so you have
 *       to set that manually). Same thing with images.  
 */

interface Props {
    bg?: string;
}
const { bg } = Astro.props;
const backgroundStyle = bg ? `--bg-image: url('${bg}')` : undefined;
---
<div class='hero-section-container' style={backgroundStyle}>
    <div class="hero-section">
        <div class="hero-content">
            <slot name="heading"/>
            <slot name="text"/>
        </div>
        <div class="hero-call-to-action">
            <slot name="call-to-action"/>
        </div>
    </div>
</div>

<style>
    .hero-section-container {
        position: relative;
        display: flex;
        height: 100vh;
        background-color: var(--color-bg-primary-transparent);
    
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: inherit;
            z-index: -1;
            background-image: var(--bg-image);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* -- HERO SECTION */
        .hero-section {
            width: 100vw;
            padding-top: 3rem;
            padding-inline: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            gap: 3rem;
            color: white;
            @media screen and (max-width: 960px) {
                & {
                    padding-inline: 5vw;
                }
            }
        }

        
        /* -- HERO SECTION BODY */
        .hero-content {
            width: min(45ch, 100%);
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        /* -- HERO SECTION CALL TO ACTION */
        .hero-call-to-action {
            width: min(45ch, 100%);
            display: flex;
            justify-content: flex-start;
        }
        .hero-call-to-action > :global(*) {
            width: 100%;
            display: flex;
            gap: 3rem;
        }
    
    }     
</style>