---
/**
 * @component Media
 * @description This is a UI Component where there is a content  on one side, and a visual image element on another side.   
 * @prop {string} bg - The background image to be used in the section. Valid values for it are URLs of the image used.
 * @prop {'normal' | 'reverse'} flow - How the content and the image is ordered on the component. 
 *          Default is 'normal' which means the content is on the left and the image is on the right. 
 *          If 'reverse' is used, the content will be on the right and the image will be on the left.
 * @note As of now, relative paths must have "import.meta.env.BASE_URL" at the start of the path/URL.
 *        This is due to hosting sometimes being confused with URLs and paths. Refer to examples from 
 *        the pages files.
 */
interface Props {
    bg?: string;
    flow?: 'normal' | 'reverse';
}
const { 
    bg, 
    flow = ""
} = Astro.props;

const backgroundStyle = bg ? `--bg-image: url('${bg}')` : undefined;
---
<div class='media-container'  style={backgroundStyle}>
    <div class={`media ${flow}`}>
        <div class="media-body">
            <div class="content">
                <slot name="heading"/>
                <slot name="text"/>
            </div>
            <div class="call-to-action">
                <slot name="call-to-action"/>
            </div>
        </div>
        <figure class="media-image">
            <slot name="image"/>
        </figure>
    </div>
</div>

<style>
    .media-container {
        position: relative;
        display: flex;
        justify-content: center;
        padding-block: 2rem;
    
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: inherit;
            opacity: 0.07;
            z-index: 0;
            background-image: var(--bg-image);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* -- MEDIA */
        .media {
            position: relative;
            z-index: 1;

            width: 100vw;   
            display: flex;
            justify-content: space-evenly;
            gap: 8rem;

        }
        .media.reverse {
            flex-direction: row-reverse;
        }
        
        /* -- MEDIA IMAGE */
        .media-image {
            width: 50%;
        }
        .media-image :global(img) {
            width: 100%;
            aspect-ratio: 1/1;
            max-height: 500px;    
            object-fit: cover;
        } 

        /* -- MEDIA BODY */
        .media-body {
            width: 50%;
            padding-left: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }
        .media.reverse .media-body {
            padding-left: 0vw;
            padding-right: 15vw;
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        /* -- MEDIA CALL TO ACTION */
        .call-to-action {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
        :global(.call-to-action > *) {
            width: inherit;
            display: flex;
            justify-content: flex-start;
            margin-block: 1rem;
        }


    } 
</style>