---
/**
 * === RULES IN DOCUMENTATION ===
 * 
 * I. Components, Layouts, and Pages
 * [1] In web dev, there are components, layouts, and page. For semantic
 *      marking, follow the following @ labeling depending on the file:
 *      @component  for components
 *      @layout     for layouts
 *      @page       for pages
 * 
 * [2] Every creation or update in documentations must set or update @last_updated
 * 
 * [3] Add a description of its function, properties, and children (for layouts and components) using @desc.
 * 
 * [4] Add @prop if it has properties. Have @required for requried properties and @optional for optional/nullable properties.
 *      Explain each property, and describe each value it may require (for props whose type contains only few values).
 *   
 * [5] Add @children for layouts or components with the slot attribute. Explain the needed content.
 * 
 * [6] Ensure context or more important information using @notes
 *
 * 
 * II. Styles
 * [1] Styles must be arranged from outer container to inner container
 * 
 * [2] Group styles under a comment. Grouping is usually done to the root (outermost) tag 
 *      or major sections of the component 
 * 
 * [3] Format for the Grouping comment is "-- COMMENT NAME" for easy finding.
 * 
 * [4] You may put a description under the grouping component if you want, so that users understand 
 *      how the style works.
 *
 *  
 * III. No Documentation
 * [1] Then again, not documenting code is also fine, but that will introduce technical debt 
 *      and information debt for future maintainers/devs
 *         
 */


/**
 * @component Section
 * @last_updated July 28, 2026
 * @desc
 *   This is a general one-column UI component that contains a header, body, and a call to action.
 *   The body is a grid that can take in a single component or multiple elements in a row.   
 * 
 * @prop 
 *  @optional     
 *      [1] "bg" is the background image to be used in the section. Valid values
 *          for it are URLs of the image used.           
 *       
 */

interface Props {
    bg?: string;
}
const { bg } = Astro.props;

const backgroundStyle = bg ? `--bg-image: url('${bg}')` : undefined;
---
<section class='section-container' style={backgroundStyle}>
    <slot name="heading"/>
    <div class="body">
        <slot name="body"/>
    </div>
    <div class="call-to-action">
        <slot name="call-to-action"/>
    </div>
</section>

<style>
    /* -- SECTION */
    .section-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        padding-inline: 15vw;
        padding-block: 5rem;
    } 

    .section-container::before {
        content: '';
        position: absolute;
        inset: 0;
        opacity: 0.07;
        background: inherit;
        z-index: -1;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* SECTION BODY */
    .section-container .body > :global(*) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;
    } 

    /* SECTION CALL TO ACTION */
    .section-container .call-to-action > :global(*) {
        display: flex;
        justify-content: center;
    }
</style>