@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-darker: #4B4B4B; 
    --color-dark: #6C6C6C;
    --color-light: #D9D9D9;

    --border-radius: 5px;
    --font-family-default: "Albert Sans", system-ui, Helvetica, Arial, sans-serif;
    --font-family-heading: "Montserrat", system-ui, Helvetica, Arial, sans-serif;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-smalltext: 0.875rem;
    --font-default: 1rem;
    --font-heading: 1.5rem;
    --font-title: 2rem;

    /* Calendar variables */
    --fc-border-color: #f0f0f0;
    --fc-button-bg-color: transparent;
    --fc-button-border-color: transparent;
    --fc-button-text-color: #888888;
    --fc-button-hover-bg-color: #f9f9f9;
    --fc-button-hover-border-color: transparent;
    --fc-button-active-bg-color: #eeeeee;
    --fc-button-active-border-color: transparent;
    --fc-today-bg-color: #fcfcfc;


    font-size: 16px;
    line-height: 1.5;
    font-weight: var(--fw-regular);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: var(--font-family-default);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    padding-top: 1em;
    margin: 0 auto;
}

header {
    width: clamp(320px, 90%, 1200px);
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;

    .header-brand {
        display: flex;
        align-items: center;
        font-family: var(--font-family-heading);
    }

    .header-brand img {
        height: 48px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 8px;
    }

    nav {
        width: 400px;
        justify-content: space-evenly;
    }

    nav a { 
        display: block;
        text-decoration: none;
        color: var(--color-dark);
    }
    
    nav a.current-page-navigation-link { 
        font-weight: var(--font-weight-bold);
        color: black;
    }
}

body.events main {
    width: clamp(320px, 90%, 1200px);
    margin: 64px auto;
    
    .latest-event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
    }
    
    .latest-event-title {
        font-size: var(--font-title);
    }
    
    .latest-event-datetime .small-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-inline: 8px;
        background-color: var(--color-light);
    }

    .latest-event-description {
        margin-block: 16px 32px;
    }        

    .latest-event-img {
        object-fit: cover;
        width: 100%;
        height: 350px;
        border-radius: var(--border-radius);
    }
    
    .check-event-button:hover {
        transition: color 0.3s, background-color 0.3s;
        color: var(--color-darker);
        background-color: var(--color-light);
    }

    .prev-event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 64px;
    }
    
    .prev-event-heading {
        font-size: var(--font-title);
        font-weight: var(--font-weight-bold);
    }

    .prev-event-list {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        justify-items: center;
        gap: 96px 64px;
        margin: 32px;
    }

    .prev-event-card {
        width: 100%;
    }

    .prev-event-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .prev-event-title {
        font-size: var(--font-heading);
    }
    
    .prev-event-datetime .small-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-inline: 8px;
        background-color: var(--color-light);
    }
    
    .prev-event-description {
        margin-block: 16px;
    }

    .calendar-container {
        display: flex;
        align-items: center;
    }
    
    .calendar-heading {
        font-size: var(--font-title);
        font-weight: var(--font-weight-bold);
        margin-right: 32px;
    }
    
    #calendar {
        width: 80%;
        margin: auto;
    }

    .fc .fc-toolbar-title {
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: -0.02em;
    }

    .fc .fc-col-header-cell {
        border-bottom: 1px solid #eee !important;
        padding-bottom: 10px;
     }

    .fc .fc-col-header-cell-cushion {
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 0.1em;
        color: #aaa;
    }

    .fc-event {
        background-color: var(--color-dark) !important; /* Very light blue/gray */
        border: none !important;
        padding: 4px 8px !important;
        font-size: 0.85rem !important;
        margin-bottom: 2px !important;
        border-radius: 4px !important;
    }

    .fc-event-title {
        color: white;
    }

    .fc-event-time {
        display: none;
    }

    .fc .fc-day-today {
        background: transparent !important;
    }

    .fc .fc-day-today .fc-daygrid-day-number {
        background: #000;
        color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px;
    }


}

body.event-details main {
    width: clamp(320px, 70%, 1000px);
    margin: 32px auto 64px;
    
    #myCarousel {
        height: 400px;
    }
    #myCarousel .carousel-inner {
        width: 100%;
    }
    #myCarousel .item {
        width: 100%;
    }
    #myCarousel img {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
    
    .displayed-event-container {
        width: 100%;
        gap: 48px;
    }

    .displayed-event-title {
        font-size: var(--font-title);
    }
    
    .displayed-event-datetime {
        margin-bottom: 0 !important;
    }

    .displayed-event-datetime .small-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-inline: 8px;
        background-color: var(--color-light);
    }

    .displayed-event-author {
        color: var(--color-dark);
    }

    
    .displayed-event-description {
        margin-top: 16px;
    }        

    .displayed-event-img {
        object-fit: cover;
        width: 100%;
        height: 350px;
        border-radius: var(--border-radius);
    }
}



/*    
    #myCarousel img {
        background: darkblue;
        height: 300px;
    }  */
    

footer {
    width: var(100%);
    background-color: var(--color-darker);
    color: white;

    .footer-container {
        display: flex;
        justify-content: start;
        align-items: start;
        width: clamp(320px, 90%, 1200px);
        margin: 64px auto;
    }

    .footer-brand {
        display: flex;
        align-items: center;
        flex: 1;
        font-family: var(--font-family-heading);
    }

    .footer-brand img {
        height: 96px;
        width: 96px;
        border-radius: 50%;
        margin-bottom: 10px;
        filter: invert(1);
    }

    nav a {
        padding: 0.5em 2rem;
        color: white;
        text-decoration: none;
        font-weight: var(--font-weight-bold);
    }

    .footer-info {
        flex: 3;
        padding: 0.5rem 3rem;
    }

    .footer-info span {
        padding-block: 0.25rem;
    }

    .footer-socials {
        padding-block: 0.5rem;
    }

    .footer-socials img {
        height: 28px;
        aspect-ratio: 1/1;
        margin-right: 16px;
        filter: invert(1);
    }
}

.check-event-button {
    padding: 0.675rem 2rem;
    border-radius: var(--border-radius);
    border: 0;
    margin-right: auto;
    background-color: var(--color-darker);
    color: white;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-default);
    font-size: var(--font-smalltext);
    cursor: pointer;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}